name: "Pull Request Labeler"
on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v5
      with:
        repo-token: ${{ secrets.LABELER_TOKEN }}
